  // SCSS Function that will make sure text is light on dark backgrounds, and dark on light backgrounds.
  
@function text-color-picker($color) {
    @if(lightness($color) > 70) {
      @return black;
    }

    @else {
      @return white;
    }
  }

  @mixin set-bg($color) {
    background-color: $color;
    color: text-color-picker($color)
  }

  @mixin glowing-border($glow-color, $inset-color) {
    box-shadow: 0px 0px 50px 4px $glow-color, 0px 0px 21px 12px $inset-color inset;
  }
