* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

header {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

header > h1 {
  font-family: 'Noto Sans Balinese', sans-serif;
  font-size: 3em;
  height: 6em;
  text-align: center;
  color: whitesmoke;
  position: relative;
  margin: auto;
  transform: translateY(40%);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: grey;
  flex-shrink: 0;
  padding: 2%;
  height: 3em;
}

footer > svg {
  padding-right: 1em;
}

#particles-js {
  width: 100%;
  height: 99%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.website-container {
  height: inherit;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.navigation-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.navigation-item {
  padding-top: 1em;
  padding-bottom: 1em;
}

.navigation-item > a {
  font-family: 'Noto Sans Balinese', sans-serif;
  color: black;
  text-decoration: none;
}

.header-section{
  flex: 0 1 auto;
}

.main-section {
  flex: 1 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  header > h1 {
    height: 10em;
    font-size: 2em;
  }
}
