.repo {
  border-radius: 32px;
  background-color: gray;
  text-decoration: none;
  width: 40vw;
  height: 3em;
  margin-left: 5.7vw;
  display: inline-block;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.repo > p {
  color: black;
  position: relative;
  transform: translateY(80%);
}

.content-section {
  margin: auto;
  border-start-start-radius: 23px;
  border-start-end-radius: 23px;
  padding: 2em;
  background-color: rgb(175, 193, 214);
  width: 80%;
  min-height: 25vh;
}

.content-section > div {
  padding: 2%;
  border-radius: 12px;
  background-color: rgb(214, 202, 152);
}

#github-button, #demo-button{
  background-color: rgb(171, 146, 191);
  text-decoration: none;
  color: black;
  padding-top: 1em;
}
