{{ define "external" }}
<link rel="stylesheet" href="/css/blogpost.css">
{{end}}

{{ define "header"}}
<h1>{{.Title}}</h1>
{{end}}

{{ define "main" }}
<br/>
<div class="content">
  <ul class="content-section-list">
    <h2>Sections</h2>
    {{ range .Params.sections }}
    <li>{{.}}</li>
    {{ end }}
  </ul>
  <section class="content-section">
    <p> Published on {{.PublishDate.Format "January 2, 2006"}} </p>
    <div>
      <h2>Summary</h2>
      <p>{{.Params.description}}</p>
    </div>
    {{.Content}}
  </section>
</div>

{{ end }}